<form  method="POST">

  
    <div class="card" style="width: 18rem;">
      <img src="https://www.python.org/static/img/python-logo@2x.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Check {{ request.user }}</h5>
        {% csrf_token %}
        <p class="card-text">{{ form.as_p }}</p>
        <button type="submit" class="btn btn-outline-warning">Done</button>
      </div>
    </div>

    
</form>