{% load prettyjson %}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


<form  method="POST">

  
    <div class="card" style="width: 18rem;">
      <img src="https://www.python.org/static/img/python-logo@2x.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Check {{ request.user }}</h5>
        {% csrf_token %}
        <p class="card-text">{{ form.as_p }}</p>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
    </div>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Check</th>
            <th scope="col">Motivo</th>
            <th scope="col">Ver</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>

        {% for i in checks %}
          <tr>
            <th scope="row">{{ i.id }}</th>
            <td> {{ i.user }}</td>
            <td> {{ i.check }}</td>
            <td> {{ i.slug_check }}</td>

            <td><a href="{% url 'Vercheck' i.pk %}" class="btn btn-outline-info">Información</a></td>
            <td><a href="{% url 'Editarcheck' i.pk %}" class="btn btn-outline-warning">Editar</a></td>
            <td><a href="{% url 'Eliminarcheck' i.pk %}" class="btn btn-outline-danger">Eliminar</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    
</form>