<div class="card" style="width: 18rem;">
    <img src="https://www.python.org/static/img/python-logo@2x.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Check {{ object.user }}</h5>
      <p class="card-text">{{ object.slug_check }}</p>
      <p class="card-text">{{ object.status }}</p>
      <p class="card-text">{{ object.check }}</p>
    </div>
</div>
